{ns hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-reason-for-revision-vs,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The reason a planned or prescribed radiotherapy treatment was revised, superceded, or adapted.",
            :zen.fhir/version "0.6.23",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/us/codex-radiation-therapy/CodeSystem/codex-radiotherapy-reason-for-revision-cs",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/codex-radiotherapy-reason-for-revision-vs",
            :version "1.0.0-ballot",
            :ftr {:module "hl7-fhir-us-codex-radiation-therapy",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
