{ns hl7-fhir-us-codex-radiation-therapy.value-set.radiotherapy-energy-units,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Unit to characterize the Energy spectrum used in Radiotherapy.\nFor electrons, the maximum energy is given in MeV.\nFor photons, the maximum acceleration voltage is given in MV or kV, although those are not units of energy.",
            :zen.fhir/version "0.6.14",
            :fhir/code-systems #{{:fhir/url "http://unitsofmeasure.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/radiotherapy-energy-units",
            :version "1.0.0-ballot",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.codex-radiation-therapy"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
