{ns hl7-fhir-us-codex-radiation-therapy,
 import #{zen.fhir
          hl7-fhir-us-core
          hl7-fhir-r4-core
          hl7-fhir-us-mcode},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-energy-or-isotope" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-fractions-planned" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-fractions-planned/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-dose-prescribed-to-volume" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-dose-prescribed-to-volume/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-dicom-reference" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-dicom-reference/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-reason-for-revision" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-reason-for-revision/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device-manufacturer" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device-manufacturer/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-applicator-type" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-fractions-prescribed" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-fractions-prescribed/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-dose-planned-to-volume" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-dose-planned-to-volume/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-fractions-delivered" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-fractions-delivered/schema,
                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device-model" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device-model/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"ServiceRequest" {"http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-treatment-plan" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treatment-plan/schema,
                                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-planned-course" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-planned-course/schema,
                                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-phase-prescription" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-phase-prescription/schema,
                                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-plan-prescription" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-plan-prescription/schema,
                                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-course-prescription" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-course-prescription/schema,
                                       "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-planned-phase" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-planned-phase/schema},
                     "Procedure" {"http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-treated-phase" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treated-phase/schema,
                                  "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-course-summary" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-course-summary/schema,
                                  "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-treated-plan" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treated-plan/schema},
                     "BodyStructure" {"http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-volume" #zen/quote hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-volume/schema}}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/codex-radiotherapy-applicator-types-vs" #zen/quote hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-applicator-types-vs/value-set,
                          "http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/radiotherapy-energy-units" #zen/quote hl7-fhir-us-codex-radiation-therapy.value-set.radiotherapy-energy-units/value-set,
                          "http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/codex-radiotherapy-isotopes" #zen/quote hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-isotopes/value-set,
                          "http://hl7.org/fhir/us/codex-radiation-therapy/ValueSet/codex-radiotherapy-reason-for-revision-vs" #zen/quote hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-reason-for-revision-vs/value-set}}}
