{ns hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-planned-course,
 import #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-dose-planned-to-volume
          hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs
          hl7-fhir-r4-core.Condition
          zen.fhir
          hl7-fhir-us-core.us-core-practitioner
          hl7-fhir-us-mcode.mcode-procedure-intent
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device
          hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique
          hl7-fhir-us-core.us-core-organization
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope
          hl7-fhir-us-core.us-core-patient
          hl7-fhir-us-mcode.mcode-radiotherapy-sessions
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type
          hl7-fhir-r4-core.ServiceRequest
          hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs
          hl7-fhir-us-core.us-core-practitionerrole},
 schema {:zen.fhir/version "0.6.30-1",
         :confirms #{hl7-fhir-r4-core.ServiceRequest/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-planned-course",
         :require #{:category :code},
         :type zen/map,
         :zen/desc "A Radiotherapy Planned Course covers all Radiotherapy Plans to deliver a complete Course.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {"required" {:schema {:type zen/vector,
                                                                   :minItems 1,
                                                                   :maxItems 1},
                                                          :filter {:engine :match,
                                                                   :match {:coding #{{:system "http://snomed.info/sct",
                                                                                      :code "108290001",
                                                                                      :display "Radiation oncology AND/OR radiotherapy"}}}}}}},
                           :every {:fhir/flags #{:MS}},
                           :minItems 1},
                :modalityAndTechnique {:type zen/vector,
                                       :every {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique/schema},
                                               :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-modality-and-technique",
                                               :type zen/map,
                                               :keys {:radiotherapyEnergyOrIsotope {:type zen/vector,
                                                                                    :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope/schema},
                                                                                            :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-energy-or-isotope",
                                                                                            :fhir/flags #{:MS}}},
                                                      :radiotherapyTreatmentDevice {:type zen/vector,
                                                                                    :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device/schema},
                                                                                            :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device",
                                                                                            :fhir/flags #{:MS}}},
                                                      :radiotherapyTreatmentApplicatorType {:type zen/vector,
                                                                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type/schema},
                                                                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-applicator-type",
                                                                                                    :fhir/flags #{:MS}}}},
                                               :fhir/flags #{:MS}}},
                :asNeeded {:fhir/polymorphic true, :type zen/map},
                :radiotherapy-dose-planned-to-volume {:type zen/vector,
                                                      :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-dose-planned-to-volume/schema},
                                                              :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-dose-planned-to-volume",
                                                              :type zen/map,
                                                              :keys {:fractionDose {:zen/desc "Not used in this profile. See Planned Phase for detailed Fractionation."}},
                                                              :fhir/flags #{:MS}}},
                :specimen {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}},
                           :maxItems 0},
                :reasonCode {:type zen/vector,
                             :every {:fhir/flags #{:MS},
                                     :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs/value-set,
                                                          :strength :extensible}}},
                :note {:type zen/vector, :every {:fhir/flags #{:MS}}},
                :requester {:fhir/flags #{:MS},
                            :confirms #{zen.fhir/Reference},
                            :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-practitionerrole/schema
                                                           hl7-fhir-us-core.us-core-organization/schema
                                                           hl7-fhir-us-core.us-core-practitioner/schema}}},
                :status {:fhir/flags #{:MS}},
                :code {:match {:coding #{{:system "http://hl7.org/fhir/us/mcode/CodeSystem/snomed-requested-cs",
                                          :code "USCRS-33529",
                                          :display "Radiotherapy Course of Treatment (regime/therapy)"}}},
                       :fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS}},
                                            :value {:fhir/flags #{:MS}}},
                                     :require #{:value},
                                     :fhir/flags #{:MS}}},
                :bodySite {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs/value-set,
                                                        :strength :required},
                                   :zen/desc "Body site that is treated with Radiotherapy"}},
                :intent {:match "filler-order", :fhir/flags #{:MS}},
                :replaces {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}},
                                   :zen/desc "Previous retired request that is replaced by this request"}},
                :basedOn {:type zen/vector,
                          :every {:confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{}},
                                  :zen/desc "Should Reference a Radiotherapy Course Prescription"}},
                :quantity {:fhir/polymorphic true, :type zen/map},
                :radiotherapy-sessions {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-sessions/schema},
                                        :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-sessions",
                                        :fhir/flags #{:MS}},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core.us-core-patient/schema}}},
                :treatment-intent {:confirms #{hl7-fhir-us-mcode.mcode-procedure-intent/schema},
                                   :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-procedure-intent",
                                   :fhir/flags #{:MS}},
                :occurrence {:type zen/map,
                             :keys {:Period {:fhir/flags #{:MS}}}},
                :reasonReference {:type zen/vector,
                                  :every {:fhir/flags #{:MS},
                                          :confirms #{zen.fhir/Reference},
                                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Condition/schema}}}}},
         :zen.fhir/type "ServiceRequest"}}
