{ns hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type,
 import #{zen.fhir
          hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-applicator-types-vs
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Radiotherapy Treatment Applicator Type",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-applicator-type",
         :zen.fhir/version "0.6.18-1",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-applicator-types-vs/value-set,
                              :strength :extensible}}}
