{ns hl7-fhir-us-codex-radiation-therapy.codexrt-dicom-reference,
 import #{zen.fhir hl7-fhir-r4-core.Coding hl7-fhir-r4-core.id},
 schema {:zen.fhir/version "0.6.27",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-dicom-reference",
         :require #{:instanceUid},
         :type zen/map,
         :zen/desc "A Reference to a DICOM SOP Instance.",
         :keys {:instanceUid {:confirms #{hl7-fhir-r4-core.id/schema},
                              :fhir/flags #{:MS},
                              :zen/desc "DICOM SOP Instance UID"},
                :sopClass {:confirms #{hl7-fhir-r4-core.Coding/schema},
                           :fhir/flags #{:MS},
                           :zen/desc "DICOM SOP Class"}}}}
