{ns hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treated-plan,
 import #{hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-course-summary
          zen.fhir
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device
          hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-fractions-delivered
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope
          hl7-fhir-us-mcode.mcode-cancer-patient
          hl7-fhir-us-codex-radiation-therapy.codexrt-dicom-reference
          hl7-fhir-us-core.us-core-procedure
          hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type
          hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treated-phase},
 schema {:zen.fhir/version "0.6.17-2",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-us-core.us-core-procedure/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-treated-plan",
         :require #{:performed},
         :type zen/map,
         :zen/desc "A summary of Radiotherapy treatment delivered with a single Radiotherapy Treatment Plan.",
         :keys {:category {:match {:coding #{{:system "http://snomed.info/sct",
                                              :code "108290001"}}}},
                :modalityAndTechnique {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-modality-and-technique/schema},
                                       :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-modality-and-technique",
                                       :type zen/map,
                                       :keys {:radiotherapyEnergyOrIsotope {:type zen/vector,
                                                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope/schema},
                                                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-energy-or-isotope",
                                                                                    :fhir/flags #{:MS}}},
                                              :radiotherapyTreatmentDevice {:type zen/vector,
                                                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device/schema},
                                                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device",
                                                                                    :fhir/flags #{:MS}}},
                                              :radiotherapyTreatmentApplicatorType {:type zen/vector,
                                                                                    :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type/schema},
                                                                                            :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-applicator-type",
                                                                                            :fhir/flags #{:MS}}}},
                                       :fhir/flags #{:MS}},
                :fractionsDelivered {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-fractions-delivered/schema},
                                     :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-fractions-delivered",
                                     :fhir/flags #{:MS},
                                     :zen/desc "Number of Fractions Delivered"},
                :reasonCode {:type zen/vector,
                             :every {:fhir/flags #{:MS},
                                     :zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-cancer-disorder-vs/value-set,
                                                          :strength :extensible}}},
                :performed {:type zen/map,
                            :keys {:Period {:type zen/map,
                                            :keys {:start {:fhir/flags #{:MS},
                                                           :zen/desc "The date and time when the first therapeutic radiation was delivered."},
                                                   :end {:fhir/flags #{:MS},
                                                         :zen/desc "An end date is expected if the status is 'stopped' or 'completed'"}}}},
                            :require #{:Period}},
                :radiotherapy-dicom-record {:type zen/vector,
                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-dicom-reference/schema},
                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-dicom-reference",
                                                    :zen/desc "DICOM Treatment Record"}},
                :doseDeliveredToVolume {:type zen/vector,
                                        :every {:confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-dose-delivered-to-volume/schema},
                                                :fhir/extensionUri "http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-radiotherapy-dose-delivered-to-volume",
                                                :type zen/map,
                                                :keys {:fractionsDelivered {:zen/desc "Not used in this profile."}},
                                                :fhir/flags #{:MS}}},
                :code {:match {:coding #{{:system "http://hl7.org/fhir/us/codex-radiation-therapy/CodeSystem/snomed-requested-cs",
                                          :code "USCRS-33951",
                                          :display "Radiotherapy Treatment Plan (therapy/regime)"}}}},
                :bodySite {:type zen/vector,
                           :every {:zen.fhir/value-set {:symbol hl7-fhir-us-mcode.value-set.mcode-radiotherapy-treatment-location-vs/value-set,
                                                        :strength :required},
                                   :zen/desc "All body structure(s) treated with this plan"}},
                :basedOn {:type zen/vector,
                          :every {:fhir/flags #{:MS},
                                  :confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{}},
                                  :zen/desc "Should Reference a Radiotherapy Treatment Plan"}},
                :partOf {:type zen/vector,
                         :every {:fhir/flags #{:MS},
                                 :confirms #{zen.fhir/Reference},
                                 :zen.fhir/reference {:refers #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-course-summary/schema
                                                                hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-treated-phase/schema}}}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-mcode.mcode-cancer-patient/schema}}}},
         :zen.fhir/type "Procedure"}}
