{ns hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-course-summary,
 import #{hl7-fhir-us-mcode.mcode-radiotherapy-course-summary
          zen.fhir
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope
          hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type},
 schema {:zen.fhir/version "0.6.17-1",
         :confirms #{hl7-fhir-us-mcode.mcode-radiotherapy-course-summary/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-course-summary",
         :require #{:performed},
         :type zen/map,
         :zen/desc "A Summary of the Treatment Progress in a Radiotherapy Course.\nWhenever new contributions in the scope of the same Course are delivered, this resource is updated (no new resource created).",
         :keys {:modalityAndTechnique {:type zen/map,
                                       :keys {:radiotherapyEnergyOrIsotope {:type zen/vector,
                                                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotherapy-energy-or-isotope/schema},
                                                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotherapy-energy-or-isotope",
                                                                                    :fhir/flags #{:MS}}},
                                              :radiotherapyTreatmentDevice {:type zen/vector,
                                                                            :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-device/schema},
                                                                                    :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-device",
                                                                                    :fhir/flags #{:MS}}},
                                              :radiotherapyTreatmentApplicatorType {:type zen/vector,
                                                                                    :every {:confirms #{hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-treatment-applicator-type/schema},
                                                                                            :fhir/extensionUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-treatment-applicator-type",
                                                                                            :fhir/flags #{:MS}}}}},
                :basedOn {:type zen/vector,
                          :every {:fhir/flags #{:MS},
                                  :confirms #{zen.fhir/Reference},
                                  :zen.fhir/reference {:refers #{}},
                                  :zen/desc "Should Reference a RadiotherapyPlannedCourse"}},
                :performed {:type zen/map,
                            :keys {:Period {:type zen/map,
                                            :keys {:start {:fhir/flags #{:MS},
                                                           :zen/desc "The date and time when the first therapeutic radiation was delivered."},
                                                   :end {:fhir/flags #{:MS},
                                                         :zen/desc "An end date is expected if the status is 'stopped' or 'completed'"}}}},
                            :require #{:Period}}},
         :zen.fhir/type "Procedure"}}
