{ns hl7-fhir-us-codex-radiation-therapy.codexrt-radiotheraphy-reason-for-revision,
 import #{zen.fhir
          hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-reason-for-revision-vs
          hl7-fhir-r4-core.CodeableConcept},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Reason for Revision",
         :zen.fhir/type "CodeableConcept",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/codex-radiation-therapy/StructureDefinition/codexrt-radiotheraphy-reason-for-revision",
         :zen.fhir/version "0.6.22-1",
         :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :zen.fhir/value-set {:symbol hl7-fhir-us-codex-radiation-therapy.value-set.codex-radiotherapy-reason-for-revision-vs/value-set,
                              :strength :required}}}
